<nav-bar></nav-bar>

<div class="container">
  <div class="row">
    <div class="dropdown" ng-show="networkAndShowCtrl.networksList">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Filter By Country
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a ng-click="networkAndShowCtrl.showAll()">Show All Networks</a></li>
        <li role="separator" class="divider"></li>
        <li><a ng-click="networkAndShowCtrl.selectCountry('United Kingdom')">United Kingdom</a></li>
        <li><a ng-click="networkAndShowCtrl.selectCountry('United States of America')">United States of America</a></li>
        <li><a ng-click</li>
      </ul>
    </div>

    <a class="btn btn-primary" role="button" ng-show="networkAndShowCtrl.showsList" ng-click="networkAndShowCtrl.toggleShowsAndNetworks()">Select Another Network</a>
  </div>

  <div class="row">
    <br>
  </div>

  <ul class="networks" ng-show="networkAndShowCtrl.networksList">
    <li ng-repeat="network in networkAndShowCtrl.networks">
      <a class="hvr-grow" ng-click="networkAndShowCtrl.getShows(network._id)">
        <div class="image-holder">
          <img ng-src="{{network.logo}}" />
        </div>
      </a>
    </li>
  </ul>

  <ul class="shows" ng-show="networkAndShowCtrl.showsList">
    <li ng-repeat="show in networkAndShowCtrl.shows">

      <a ng-click="networkAndShowCtrl.selectShow($index)">
        <img style="height: 255px; width: 225px; border-radius: 10px" ng-src="{{show.poster}}" />
      </a>

      <div class="showInfo row" ng-show="networkAndShowCtrl.showInfo">

          <div class="col-md-10 col-md-offset-1">

            <h2 class="text-center">{{show.name}}</h2>

            <div class="showDetails row">
              <p class="lead">{{show.details.synopsis}}</p>
            </div>

            <episode-selection-show></episode-selection-show>
          </div>

      </div>
    </li>
  </ul>
</div>
