<nav-bar ></nav-bar>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to tellynet.</h1>
    <p class="lead">Watch any TV show anywhere anytime.</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-television fa-stack-1x fa-inverse"></i>
          </span>
          <p class="lead" style="color: #fff">Watch on your TV</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
          </span>
          <p class="lead" style="color: #fff">Watch on the go</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <p class="lead" style="color: #fff">Watch on any computer</p>
        </div>
      </div>

      <div class="col-md-6">
        <form class="signup" name="userForm" ng-submit="loginCtrl.signUp()">
          <h2 class="text-center">Join Now</h2>
          <div class="form-group has-success" ng-show="loginCtrl.successMessage">
            <p class="lead help-block text-center">Successfully created account.</p>
          </div>
          <br />
          <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid, 'has-success': userForm.firstName.$touched && userForm.firstName.$valid }">
            <label for="inputFirstName">First Name</label>
            <input type="text" name="firstName" class="form-control" id="inputFirstName" ng-model="loginCtrl.newUserData.firstName" placeholder="First Name" required>
            <div class="help-block" ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched && userForm.firstName.$invalid">
              <p ng-message="required">Your first name is required.</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error': userForm.lastName.$touched && userForm.lastName.$invalid, 'has-success': userForm.lastName.$touched && userForm.lastName.$valid }">
            <label for="inputLastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" id="inputLastName" ng-model="loginCtrl.newUserData.lastName" placeholder="Last Name" required>
            <div class="help-block" ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched && userForm.lastName.$invalid">
              <p ng-message="required">Your last name is required.</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid, 'has-success': userForm.email.$touched && userForm.email.$valid }">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail" ng-model="loginCtrl.newUserData.email" placeholder="Email" required>
            <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched && userForm.email.$invalid">
              <p ng-message="required">An email is required.</p>
              <p ng-message="email">This needs to be a valid email.</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid, 'has-success': userForm.password.$touched && userForm.password.$valid }">
            <label for="inputPassword">Choose a Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" ng-model="loginCtrl.newUserData.password" placeholder="Password" required>
            <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.password.$touched && userForm.password.$invalid">
              <p ng-message="required">A password is required.</p>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="userForm.$invalid">Register</button>
          </div>
        </form>
      </div>
    </div>

</div>
