<nav-bar login="true"></nav-bar>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to tellynet.</h1>
    <p class="lead">Watch any TV show anywhere anytime.</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-television fa-stack-1x fa-inverse"></i>
          </span>
          <p class="lead" style="color: #fff">Watch on your TV</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
          </span>
          <p class="lead" style="color: #fff">Watch on the go</p>
        </div>
        <div class="col-md-4 text-center">
          <span class="fa-stack fa-5x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <p class="lead" style="color: #fff">Watch on any computer</p>
        </div>
      </div>

      <div class="col-md-6">
        <form class="signup" name="userForm" >
          <h2 class="text-center">Join Now</h2>
          <br />
          <div class="form-group" ng-class="{ 'has-error': userForm.firstName.$touched && userForm.firstName.$invalid, 'has-success': userForm.firstName.$touched && userForm.firstName.$valid }">
            <label for="inputFirstName">First Name</label>
            <input type="text" name="firstName" class="form-control" id="inputFirstName" ng-model="loginCtrl.userData.firstName" placeholder="First Name" required>
            <div ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched && userForm.firstName.$invalid">
              <p ng-messages="required">Your first name is required.</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Choose a Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password (8-12 characters)">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Register</button>
          </div>
        </form>
      </div>
    </div>
</div>
