<div class="row">
  <div class="videogular-container">
    <videogular vg-player-ready="watchCtrl.onPlayerReady($API)" vg-theme="watchCtrl.config.theme"
    vg-auto-play="true">
        <vg-media vg-src="watchCtrl.config.sources">
        </vg-media>

        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='watchCtrl.config.plugins.poster'></vg-poster>
        <vg-buffering></vg-buffering>
    </videogular>
  </div>
</div>

<br>

<div class="episodesDiv row">

  <div class="container">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="seasonDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{watchCtrl.currentSeasonTitle}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="seasonDropdown">
        <li ng-repeat="season in watchCtrl.videos.seasons">
          <a ng-click="watchCtrl.changeSeason($index)">
            {{season.title}}
          </a>
        </li>
      </ul>
    </div>

    <br>

    <div class="playlist row">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div ng-class="{active: $first}" class="item" ng-repeat="episode in watchCtrl.videos.seasons[watchCtrl.currentSeason].episodes">
            <img ng-src="{{episode.imageURL}}">
            <div class="">

            </div>
            <div class="carousel-caption">
              <a ng-click="watchCtrl.setVideo($index)">
                <p class="lead">{{episode.title}}</p>
              </a>
              <p>{{episode.synopsis}}</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-target="#carousel-example-generic " role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>


</div>
