* {
  box-sizing: border-box;
}

html, body {
  background-color: #0D1217;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.networks {
  padding-left: 0;
}

.image-holder {
  margin: 10px auto;
  display: inline-block;
  background: #ffffff;
  width: 175px;
  height: 175px;
  border-radius: 5px;
  position: relative;
}

.image-holder img {
  display: block;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
  .image-holder {
    margin: 10px auto;
    display: inline-block;
    background: #ffffff;
    width: 130px;
    height: 130px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .image-holder {
    margin: 10px auto;
    display: inline-block;
    background: #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 750px) and (max-width: 970px) {
  .image-holder {
    margin: 10px auto;
    display: inline-block;
    background: #ffffff;
    width: 105px;
    height: 105px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 105px;
    height: 105px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 500px) and (max-width: 550px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 95px;
    height: 95px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 475px) and (max-width: 500px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 85px;
    height: 85px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 450px) and (max-width: 475px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 425px) and (max-width: 450px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 400px) and (max-width: 425px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 375px) and (max-width: 400px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 350px) and (max-width: 375px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 0px) and (max-width: 350px) {
  .image-holder {
    margin: 15px auto;
    display: inline-block;
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: relative;
  }

  .image-holder img {
    display: block;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.showInfo {
  background-color: #333;
  color: #fff;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

.videogular-container .skipButton {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    color: white;
    cursor: pointer;
    background-color: #666666;
    border: 2px #FFFFFF solid;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

.navbar {
  min-height: 80px;
  margin-bottom: 0px;
}

.navbar-brand {
  height: 80px;
  padding: 0 15px;
}

.navbar-nav>li>a {
  line-height: 50px;
}

.signup label, h2 {
  color: #fff;
}

.login label, h2 {
  color: #fff;
}

.navbar-form {
  padding: 10px 25px;
  margin-top: 15px;
}
