html, body {
  background-color: #0D1217;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.networks {
  list-style: none;
}

.networks li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.image-holder {
  background: #ffffff;
  width: 175px;
  height: 175px;
  border-radius: 10px;
  position: relative;
}

.image-holder img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showInfo {
  background-color: #333;
  color: #fff;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

.videogular-container .skipButton {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 10px;
    z-index: 99999;
    color: white;
    cursor: pointer;
    background-color: #666666;
    border: 2px #FFFFFF solid;
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

.navbar {
  min-height: 80px;
  margin-bottom: 0px;
}

.navbar-brand {
  height: 80px;
  padding: 0 15px;
}

.navbar-nav>li>a {
  line-height: 50px;
}

.signup label, h2 {
  color: #fff;
}

.login label, h2 {
  color: #fff;
}
