<div class="episodesDiv row">

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="seasonDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{networkAndShowCtrl.currentSeasonTitle}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="seasonDropdown">
      <li ng-repeat="season in show.seasons">
        <a ng-click="networkAndShowCtrl.changeSeason($index)">
          {{season.title}}
        </a>
      </li>
    </ul>
  </div>

  <br>

  <div class="playlist row">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width: 750px; left: 50%; transform: translateX(-50%)">

      <div class="carousel-inner" role="listbox">
        <div ng-class="{active: $first}" class="item" ng-repeat="episode in show.seasons[networkAndShowCtrl.currentSeason].episodes">

          <div class="episode-image" style="width: 750px; height: 365px; background: url({{episode.imageURL}}) no-repeat center center; background-size: cover;">

          </div>

          <div class="carousel-caption" style="vertical-align: middle;">
            <a ng-click="networkAndShowCtrl.playEpisode($index)">
              <p class="lead">{{episode.number}} - {{episode.title}}</p>
            </a>
            <p>{{episode.synopsis}}</p>
          </div>
        </div>
      </div>

      <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>
</div>
